@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0 0% 11%; /* hsl(0, 0%, 11%) */
    --secondary: 24 100% 50%; /* hsl(24, 100%, 50%) */
    --tertiary: 0 0% 5%; /* hsl(0, 0%, 5%) */
    --neutral: 190 7% 35%; /* hsl(190, 7%, 35%) */
    --accent: 0 0% 18%; /* hsl(0, 0%, 18%) */
    --gray: 0 0% 96%; /* hsl(0, 0%, 96%) */
    --white-smoke: 0 0% 98%; /* hsl(0, 0%, 98%) */
  }

  body {
    color: white;
    background-color: #1d1d1d;
  }
}
