@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #1D1D1D;
}

@keyframes come-in {
  from {
    margin-top: 0px;
    opacity: 0;
  }

  to {
    margin-top: 15px;
    opacity: 1;
  }
}

@keyframes come-out {
  from {
    margin-top: 15px;
    opacity: 1;
  }

  to {
    margin-top: 0px;
    opacity: 0;
  }
}

.header-modal-in {
  animation: come-in 70ms forwards;
}

.header-modal-out {
  animation: come-out 70ms forwards;
}

@keyframes modal-in {
  from {
    opacity: 0;
    display: none;
  }

  to {
    opacity: 1;
    display: inline-block;
  }
}

@keyframes modal-out {
  from {
    opacity: 1;
    display: inline-block;
  }

  to {
    opacity: 0;
    display: none;
  }
}

.modal-in {
  animation: modal-in 70ms forwards;
}

.modal-out {
  animation: modal-out 70ms forwards;
}